.skillsBlock {
    min-height: 100vh;
    background-color: #36a295;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #88bbd5;
}

.skills {
    border: 1px solid slateblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;

}
@media screen and (max-width: 627px) {
    .skills {
        justify-content: center;
    }
}