
.remoteBlock {
    /*height: 20vh;*/
    background-color: mediumaquamarine;
}
.remoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: orange;
}
.button{
    height: 50px;
    width: 200px;
}

