.projectsBlock {
    background-image: url("https://alian4x.com/html/mumbrass/images/bg3.jpg");
    padding: 100px 0;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
 
}
.projects {
    border: 1px solid orange;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



@media screen and (max-width: 755px) {
    .projects {
        justify-content: center;
    }
}